{
  "ICAAAssets": {
    "DYNAMO_TABLE_NAME": "assets-api",
    "S3_BUCKET_NAME": "icaa-assets",
    "ASSETS_CDN_BASE_URL": "http://localhost:9000/icaa-assets",
    "OTEL_COLLECTOR_ENDPOINT": "jaeger:4317"
  }
}
