openapi: 3.0.0
info:
  title: ICAA Assets API
  version: 1.0.0
  description: An API for managing assets (files and folders) for the ICAA website.
servers:
  - url: https://api.icaa.world/
    description: Production server
  - url: http://localhost:3000/
    description: Local dev server
security:
  - googleCookieAuth: []
  - googleBearerAuth: []
paths:
  /assets/v1:
    get:
      summary: Get all assets at a path
      description: Retrieves a list of all assets (files and folders) at the specified path
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: path
          in: query
          description: Path to list assets from (use "/" for root)
          required: true
          schema:
            type: string
            example: "/"
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
            example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
        - name: limit
          in: query
          description: Max number of assets to fetch
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
            example: 20
      responses:
        '200':
          description: A list of assets.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - hasNextPage
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  cursor:
                    type: string
                    example: "Y29uZ3JhdHMsIHlvdSBmb3VuZCB0aGUgZWFzdGVyIGVnZw=="
                  hasNextPage:
                    type: boolean
                    example: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /assets/v1/folders:
    post:
      summary: Create a folder
      description: Creates a new folder at the specified path. Admin only.
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      requestBody:
        description: Folder creation details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderRequest'
      responses:
        '201':
          description: Folder created successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                  - folder
                properties:
                  folder:
                    $ref: '#/components/schemas/Folder'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent folder not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Folder already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /assets/v1/upload-url:
    post:
      summary: Get a presigned upload URL
      description: Returns a presigned URL for uploading a file directly to S3. Admin only. The parent folder must exist.
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      requestBody:
        description: Upload request details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequest'
      responses:
        '200':
          description: Presigned upload URL and asset ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Parent folder not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /assets/v1/by-path:
    get:
      summary: Get an asset
      description: Get one asset (file or folder) by full path
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: path
          in: query
          description: Full path to the asset (e.g., "/foo/bar.txt" or "/" for root)
          required: true
          schema:
            type: string
            example: /images/hero.png
      responses:
        '200':
          description: The asset
          content:
            application/json:
              schema:
                type: object
                required:
                  - asset
                properties:
                  asset:
                    $ref: '#/components/schemas/Asset'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Asset not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete an asset
      description: Delete an asset by full path. Admin only. Deleting a folder will fail if it still contains any files or subfolders.
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: path
          in: query
          description: Full path to the asset (e.g., "/foo/bar.txt")
          required: true
          schema:
            type: string
            example: /images/hero.png
      responses:
        '204':
          description: Asset deleted successfully.
        '400':
          description: Bad request (e.g., folder not empty).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Asset not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /assets/v1/by-path/confirm:
    post:
      summary: Confirm file upload
      description: Confirms that a file has been uploaded to S3. Admin only.
      security:
        - googleCookieAuth: [admin]
        - googleBearerAuth: [admin]
      parameters:
        - name: path
          in: query
          description: Full path to the file (e.g., "/foo/bar.txt")
          required: true
          schema:
            type: string
            example: /images/hero.png
      responses:
        '200':
          description: File confirmed successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                  - file
                properties:
                  file:
                    $ref: '#/components/schemas/File'
        '400':
          description: Bad request (e.g., file not uploaded yet, or asset is not a file).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: File not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Version conflict (file was modified by another request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unknown server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    googleCookieAuth:
      type: apiKey
      in: cookie
      name: GOOGLE_AUTH_JWT
    googleBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AssetType:
      type: string
      enum:
        - file
        - folder
      example: file
    Asset:
      oneOf:
        - $ref: '#/components/schemas/File'
        - $ref: '#/components/schemas/Folder'
      discriminator:
        propertyName: type
        mapping:
          file: '#/components/schemas/File'
          folder: '#/components/schemas/Folder'
    File:
      type: object
      required:
        - type
        - id
        - path
        - name
        - contentType
        - size
        - url
        - status
        - createdAt
        - createdBy
      properties:
        type:
          $ref: '#/components/schemas/AssetType'
          example: file
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        path:
          type: string
          description: Parent folder path
          example: /images/carousel
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: hero-banner.png
        description:
          type: string
          maxLength: 1000
          example: Main hero banner for the homepage carousel
        contentType:
          type: string
          maxLength: 100
          example: image/png
        size:
          type: integer
          format: int64
          description: File size in bytes
          example: 1048576
        url:
          type: string
          description: CDN URL for the file
          example: https://assets.icaa.world/abc123
        status:
          $ref: '#/components/schemas/FileStatus'
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        createdBy:
          type: string
          readOnly: true
          description: Email of the admin who uploaded the file
          example: admin@icaa.world
    Folder:
      type: object
      required:
        - type
        - id
        - path
        - name
        - contentCount
        - createdAt
        - createdBy
      properties:
        type:
          $ref: '#/components/schemas/AssetType'
          example: folder
        id:
          type: string
          format: uuid
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        path:
          type: string
          description: Parent folder path
          example: /images
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: carousel
        description:
          type: string
          maxLength: 1000
          example: Images for the homepage carousel
        contentCount:
          type: integer
          description: Number of items (files and folders) directly in this folder
          example: 5
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: "2025-08-19T18:46:53.185Z"
        createdBy:
          type: string
          readOnly: true
          description: Email of the admin who created the folder
          example: admin@icaa.world
    FileStatus:
      type: string
      enum:
        - pending
        - confirmed
      example: confirmed
    CreateFolderRequest:
      type: object
      required:
        - path
        - name
      properties:
        path:
          type: string
          description: Parent folder path (use "/" for root)
          example: /images
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Name of the folder to create
          example: carousel
        description:
          type: string
          maxLength: 1000
          description: Optional description of the folder
          example: Images for the homepage carousel
    UploadRequest:
      type: object
      required:
        - path
        - fileName
        - contentType
      properties:
        path:
          type: string
          description: Parent folder path where the file will be stored
          example: /images/carousel
        fileName:
          type: string
          minLength: 1
          maxLength: 255
          description: Original file name
          example: hero-banner.png
        contentType:
          type: string
          maxLength: 100
          description: MIME type of the file
          example: image/png
        description:
          type: string
          maxLength: 1000
          description: Optional description of the file
          example: Main hero banner for the homepage carousel
    UploadResponse:
      type: object
      required:
        - fileId
        - uploadUrl
        - formFields
        - expiresAt
      properties:
        fileId:
          type: string
          format: uuid
          description: ID of the file (use this to confirm the upload)
          example: 00000000-0000-0000-0000-000000000000
        uploadUrl:
          type: string
          description: Presigned POST URL to upload the file to
          example: https://icaa-assets.s3.amazonaws.com/
        formFields:
          type: object
          description: Form fields that must be included in the multipart/form-data POST request. The file itself must be added last with the field name 'file'.
          additionalProperties:
            type: string
          example:
            key: "00000000-0000-0000-0000-000000000000"
            Content-Type: "image/png"
            X-Amz-Algorithm: "AWS4-HMAC-SHA256"
            X-Amz-Credential: "AKIAIOSFODNN7EXAMPLE/20240119/us-east-1/s3/aws4_request"
            X-Amz-Date: "20240119T120000Z"
            Policy: "eyJleHBpcmF0aW9uIjoiMjAyNC0wMS0xOVQxMzowMDowMFoiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJpY2FhLWFzc2V0cyJ9LFsiZXEiLCIka2V5IiwiMDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwIl0sWyJlcSIsIiRDb250ZW50LVR5cGUiLCJpbWFnZS9wbmciXSxbImNvbnRlbnQtbGVuZ3RoLXJhbmdlIiwxLDI2MjE0NDAwXV19"
            X-Amz-Signature: "abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
        expiresAt:
          type: string
          format: date-time
          description: When the presigned URL expires
          example: "2025-08-19T19:46:53.185Z"
    ErrorCode:
      type: string
      enum:
        - InternalError
        - LimitOutOfBounds
        - InvalidCursor
        - NotFound
        - EmptyBody
        - InvalidBody
        - AlreadyExists
        - InputValidationError
        - AuthError
        - AssetNotUploaded
        - FileTooLarge
        - FolderNotEmpty
        - ParentFolderNotFound
        - NotAFile
        - VersionConflict
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
          example: InternalError
        message:
          type: string
          example: An unexpected error occurred.
